<div class="site-blocks-cover" style="background-image: url(/assets/images/hero_bg_2.jpg);" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">

            <!-- Left Column: Text -->
            <div class="col-12 col-md-7 mb-3 mb-md-0 py-5">
                <span class="sub-text">Know Us</span>
                <h1><strong>About</strong> Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section section-about">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="site-heading text-black mb-5">A Team of <strong>Dedicated Dentist</strong></h2>
                <p>Welcome to SHREE KALYAN DENTAL CARE in RAIPUR,
                    where Dr. Singh and our specialists provide pain-free,
                    comprehensive dental services for all ages,
                    ensuring top-quality care and healthy smiles.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pr-md-5 text-left mb-5">
                <div>
                    <img src="/assets/images/dr_shailja10.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Shailja Singh</h3>
                    <p>Dr. Shailja Singh is a skilled dental professional with a strong educational foundation and
                        expertise in the field. She holds a Bachelor of Dental Surgery (BDS) from Hitkarini Dental
                        College, Jabalpur, Madhya Pradesh.</p>

                    <p>Her experience includes working at Vidya Dental Care and My Smile Dental Care in Samta Colony,
                        Raipur. She is also the proud owner of Shree Kalyan Dental Care. Her areas of expertise lie in
                        general and cosmetic dentistry, where she excels in providing exceptional care to her patients.
                    </p>

                    <p>She is a proud member of the Indian Dental Association (IDA), Raipur Branch. Her dedication to
                        the field and professional affiliation make her a trusted practitioner in the world of
                        dentistry.</p>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 text-left">
                <div>
                    <img src="/assets/images/dr_shreya1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Shreya Shukla</h3>
                    <p>Dr. Shreya Shukla is a highly qualified dental professional with a remarkable academic journey
                        and extensive expertise. She earned her Bachelor of Dental Surgery (BDS) from Rungta College of
                        Dental Sciences & Research, Bhilai, and completed her clinical internship at GDC, Raipur,
                        Chattisgarh. Dr. Shukla further excelled by attaining a Master of Dental Surgery (MDS) from
                        Rungta College of Dental Sciences & Research.</p>

                    <p>Her areas of expertise are diverse and encompass various aspects of oral and maxillofacial
                        surgery. Dr. Shukla's interests lie in maxillofacial trauma, surgical extractions, pathological
                        lesions, oncosurgery, cystic lesions, local flaps, incision & drainage, patient management
                        protocol, and suturing in head & surgery.</p>

                    <p>She is an esteemed member of professional dental organizations, including the Association of Oral
                        & Maxillofacial Surgeons of India and the Indian Dental Association (IDA), Raipur, CG. Dr.
                        Shukla's extensive educational background and clinical experience make her a trusted and skilled
                        practitioner in the field of oral and maxillofacial surgery.</p>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 text-left">
                <div>
                    <img src="/assets/images/dr_tanushree1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Tanushree Khandelwal</h3>
                    <p>Dr. Tanushree Khandelwal is a highly accomplished dental professional with a strong academic
                        background and a wide range of expertise. She holds a Master of Dental Surgery (MDS) from Jaipur
                        Dental College, Jaipur, affiliated with Maharaj Vinayak Global University. Additionally, she
                        completed her Bachelor of Dental Surgery (BDS) at Chattisgarh Dental College and Research
                        Institute, Rajnandgaon, and her clinical internship at Govt Dental College, Raipur.</p>
                    <p>Dr. Khandelwal's areas of expertise span various orthodontic treatments, including metal and
                        ceramic braces, aligners, orthognathic surgery, and more.</p>
                    <p>She is an esteemed member of professional dental organizations, including the Chattisgarh State
                        Dental Council, the Indian Orthodontic Society, and the Indian Dental Association (IDA). Her
                        extensive knowledge and dedication make her a trusted name in the field of dentistry.</p>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 text-left">
                <div>
                    <img src="/assets/images/dr_khushboo1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Khushboo Tiwari</h3>
                    <p>Meet Dr. Khushboo Tiwari, a highly skilled and dedicated dental professional with a strong
                        educational background and extensive experience in the field. She holds a Bachelor of Dental
                        Surgery (BDS) degree from Rungta College of Dental Science & Research. Dr. Tiwari completed her
                        BDS clinical internship at GDC Raipur, Chhattisgarh.</p>
                    <p>Dr. Tiwari has a passion for dentistry, with a primary focus on two key areas. Her expertise
                        shines in the realm of pediatric dentistry, specializing in pulpectomy and pulpotomy procedures
                        for the little ones. Additionally, she excels in cosmetic dentistry, particularly in the
                        application of composites, ensuring patients' smiles are both functional and beautiful.</p>

                    <p>She is an active member of the Indian Dental Association (IDA) in Raipur, Chhattisgarh. Dr.
                        Tiwari's commitment to providing top-notch dental care and her affiliation with reputable dental
                        organizations make her a trusted practitioner in the field.</p>
                </div>
            </div>
            <div class="col-md-6 pr-md-5 text-left mb-5">
                <div>
                    <img src="/assets/images/dr_aliza1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Aliza Ali</h3>
                    <p>Dr. Aliza Ali is a highly qualified dental professional with a solid academic background and
                        specialized expertise. She holds a Bachelor of Dental Surgery (BDS) from Rungta College of
                        Dental Sciences and Research, Bhilai. Dr. Ali has also attained a Master of Dental Surgery (MDS)
                        with a focus on Conservative Dentistry and Endodontics from RCDSR, Bhilai.</p>

                    <p>Her extensive education has prepared her for excellence in the field, and her expertise is
                        concentrated in conservative dentistry and endodontics. Dr. Ali is equipped with the knowledge
                        and skills to provide top-notch dental care, ensuring the preservation of natural teeth and the
                        well-being of her patients.</p>

                    <p>Dr. Aliza Ali's commitment to her field is further demonstrated through her professional
                        memberships, making her a trusted practitioner in the realm of dental health.</p>
                </div>
            </div>
            <div class="col-md-6 pr-md-5 text-left mb-5">
                <div>
                    <img src="/assets/images/dr_nishi_anant1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Nishi Anant</h3>
                    <p>Dr. Nishi Anant is a gifted pedodontist with a remarkable dedication to child dental health and
                        care. Her extraordinary doctor-patient relationship with young patients is a testament to her
                        empathetic and perseverant nature. Dr. Anant firmly believes in the importance of building a
                        bond with her patients, especially children, to provide effective care. Her approach is
                        reflected in her specialization in various pediatric dental treatments, including pulpotomies,
                        pulpectomies, caps and crowns, and root canal treatments.</p>

                    <p>She completed her graduation from Government Dental College, Raipur (C.G), and her postgraduation
                        from Triveni Institute of Dental Sciences Hospital and Research Centre, Bilaspur (C.G). Dr.
                        Nishi Anant's commitment to child dental health and her empathetic approach make her a trusted
                        practitioner, ensuring the well-being of young patients.</p>
                </div>
            </div>
            <div class="col-md-6 pr-md-5 text-left mb-5">
                <div>
                    <img src="/assets/images/dr_surabhi1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Surabhi Gautam</h3>
                    <p>Dr. Surbhi Gautam is a highly qualified dental professional with a strong educational background
                        and specialized expertise. She holds a Bachelor of Dental Surgery (BDS) from GDC Raipur, and she
                        further honed her skills by achieving a Master of Dental Surgery (MDS) with a focus on
                        Periodontology and Implantology from GDC Kolkata.</p>

                    <p>Dr. Gautam's expertise lies in the field of periodontology and implantology, where she excels in
                        providing comprehensive dental care. Her educational achievements and dedication to her
                        profession make her a trusted practitioner in the realm of dental health.</p>
                </div>
            </div>
            <div class="col-md-6 pr-md-5 text-left mb-5">
                <div>
                    <img src="/assets/images/dr_neetu1.jpg" alt="Image" class="w-50 mb-5 rounded-circle">
                    <h3>Dr. Neetu Singh Rajput</h3>
                    <p>Dr. Neetu Singh Rajput is a dedicated dental professional with a strong academic foundation and
                        specialized expertise. She holds a Bachelor of Dental Surgery (BDS) from Rungta College of
                        Dental Science & Research. Dr. Rajput further honed her skills during her clinical internship at
                        GDC Raipur, Chhattisgarh.</p>

                    <p>Her primary area of interest and expertise lies in cosmetic dentistry, particularly working with
                        composites to enhance and perfect smiles. Dr. Rajput's commitment to her field is reflected in
                        her membership with the Indian Dental Association (IDA), Raipur Chapter,
                        which signifies her dedication to the dental community and the well-being of her patients.</p>
                </div>
            </div>
        </div>
    </div>
</div>