<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigation</h3>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul style="padding: 0;color: #DCDCDC; list-style: none;">
                            <li><a href="home.html" style="color: #DCDCDC;">Home</a></li>
                            <li><a href="services.html" style="color: #DCDCDC;">Services</a></li>
                            <li><a href="https://www.google.com/maps/place/Shree+Kalyan+Dental+Care/@21.225269,81.6557681,17z/data=!3m1!4b1!4m6!3m5!1s0x3a28dd1ccb5aa133:0xe67136b0370e4114!8m2!3d21.225269!4d81.658343!16s%2Fg%2F11tfs_ksgj?entry=ttu"
                                    style="color: #DCDCDC;">Google Maps Link</a></li>
                            <li><a href="about.html" style="color: #DCDCDC;">About Us</a></li>
                            <li><a href="contact.html" style="color: #DCDCDC;">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">Get In Touch</h3>
                    <div class="block-25">
                        <ul style="padding: 0; list-style: none;">
                            <li style="color: #DCDCDC;"><strong>SHREE KALYAN DENTAL CARE,</strong><br>
                                SHOP NO.44, RDA COMPLEX,<br>
                                NEW RAJENDRA NAGAR, RAIPUR (C.G.)<br>
                                PIN:492001
                            </li>
                            <li style="color: #DCDCDC;">+917067278733</li>
                            <li style="color: #DCDCDC;">MONDAY - SATURDAY(SUNDAY CLOSED)</li>
                            <li style="color: #DCDCDC;">10.30 AM - 7.00 PM</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Follow Us</h3>

                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100077932892889&mibextid=2JQ9oc"
                                class="pl-0 pr-3" target="_blank" style="color: #DCDCDC;"><span
                                    class="icon-facebook"></span></a>
                            <a href="https://instagram.com/shree.kalyan.dental.care?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                                class="pl-3 pr-3" target="_blank" style="color: #DCDCDC;"><span
                                    class="icon-instagram"></span></a>
                            <a href="https://www.linkedin.com/in/shailja-singh-6685a5235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                class="pl-3 pr-3" target="_blank" style="color: #DCDCDC;"><span
                                    class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>