<div class="site-blocks-cover" style="background-image: url(/assets/images/hero_bg_2.jpg);" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-md-7">
            <span class="sub-text">We Priority Your</span>
            <h1><strong>Oral & Dental Health</strong></h1>              
        </div>           -->

            <!-- Left Column: Text -->
            <div class="col-12 col-md-7 mb-3 mb-md-0 py-5">
                <span class="sub-text">We Priority Your</span>
                <h1><strong>Oral & Dental Health</strong></h1>
            </div>

            <!-- Right Column: Button -->
            <div class="col-12 col-md-5 text-md-right text-center">
                <a href="#appointment-form" class="btn btn-primary" style="border: 2px solid rgba(0, 0, 0, 0.1);">Book
                    Appointment</a>
            </div>
        </div>
    </div>
</div>

<div class="site-block-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth font-weight-light text-white h2"></span>
                    </div>
                    <div class="text">
                        <h3>Preventive Care</h3>
                        <p>Prioritizing your oral health through regular check-ups, cleanings, and patient education.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-whitening font-weight-light text-white h2"></span>
                    </div>
                    <div class="text">
                        <h3>Restorative Care</h3>
                        <p>Renewing your smile's health and function through advanced treatments.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-pliers font-weight-light text-white h2"></span>
                    </div>
                    <div class="text">
                        <h3>Rehabilitation</h3>
                        <p>Restoring and enhancing your oral health for a confident, healthy smile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="promo py-5 bg-primary">
    <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="site-heading text-white mb-5">#1 Dental Treatment in <strong>Raipur</strong></h2>
        </div>
    </div>
    <div class="container text-left">
        <ul>
            <span class="d-block h4 mb-3 font-weight-light text-white">
                <li>Best level of treatment by skilled professionals</li>
            </span>
            <span class="d-block h4 mb-3 font-weight-light text-white">
                <li>Comprehensive Dental Services Available </li>
            </span>
            <span class="d-block h4 mb-3 font-weight-light text-white">
                <li>Equipped with Advanced Machines & Devices </li>
            </span>
            <span class="d-block h4 mb-3 font-weight-light text-white">
                <li>Affordable Dental Care Options </li>
            </span>
            <span class="d-block h4 mb-3 font-weight-light text-white">
                <li>Timely Checkup & Consultation </li>
            </span>
        </ul>
    </div>
</div>

<div class="site-section site-block-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/assets/images/shailja8.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="promo py-5">
                    <div class="container text-left">
                        <div>
                            <h3><strong>12+ Years Experienced Dentist in Raipur</strong></h3>
                        </div>
                        <div>
                            <h1><strong>Dr. Shailja Singh</strong></h1>
                        </div>
                        <div>
                            <p>Dr. Shailja Singh is the leading dentist at Shree Kalyan Dental Care , with over 12 years
                                of
                                experience
                                in
                                providing top-notch dental care in Raipur. She is recognized for her dedication to
                                dental excellence
                                and
                                her commitment to patient care. Dr. Singh has earned a strong reputation for her
                                exceptional dental
                                skills
                                and compassionate approach.</p>

                            <p>Patients from all backgrounds rely on Dr. Singh for a wide range of dental services. Her
                                expertise
                                includes preventive care, restorative treatments, root canals, dental implants, and
                                cosmetic
                                dentistry.
                                Whether you need routine dental check-ups or advanced dental procedures, Dr. Singh
                                ensures
                                comprehensive
                                and personalized care for every patient.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>