<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Dentist",
      "name": "Shree Kalyan Dental Care Hospital",
      "image": "https://www.shreekalyandentalcare.com/static/website/images/dentist_favicon_1.jpg",
      "@id": "https://www.shreekalyandentalcare.com/",
      "url": "https://www.shreekalyandentalcare.com/",
      "telephone": "+917067278733",
      "address": {
        "@type": "PostalAddress",
        "@id": "https://www.shreekalyandentalcare.com/address",
        "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
        "addressLocality": "Raipur",
        "addressRegion": "Chhattisgarh",
        "postalCode": "492001",
        "addressCountry": "IN"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 21.2253,
        "longitude": 81.6581
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ],
        "opens": "10:00",
        "closes": "19:00"
      },
      "sameAs": [
        "https://www.facebook.com/profile.php?id=100077932892889&mibextid=2JQ9oc",
        "https://www.linkedin.com/in/shailja-singh-6685a5235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app",
        "https://instagram.com/shree.kalyan.dental.care?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
      ],
      "email": "shreekalyandentalcare@gmail.com",
      "priceRange": "Rs 200 to Rs 68000",
      "founder": {
        "@type": "Person",
        "name": "Dr. Shailja Singh"
      },
      "service": [
          {
            "@type": "MedicalBusiness",
            "name": "Tooth Fillings",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Dental Implants",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Orthodontic Treatment",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Tooth Extraction",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Oral Surgeries",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Cosmetic Dentistry",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "SHOP NO.44, RDA Complex, in front of Sumeet Bazar, Priyadarshini Nagar Colony, Gurumukh Singh Nagar, Tikrapara",
              "addressLocality": "Raipur",
              "addressRegion": "Chhattisgarh",
              "postalCode": "492001",
              "addressCountry": "IN"
            }
          }
        ]
      }
    </script>

<!-- Add your favicon link here -->
<link rel="icon" href="{{ '/assets/images/dentist_favicon_1.jpg' | relative_url }}" type="image/x-icon">

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Include Bootstrap and Popper.js -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include other JavaScript libraries -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

<!-- Your custom script to initialize the datepicker -->
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900" />
<link rel="stylesheet" href="{{ '/assets/fonts/icomoon/style.css' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/jquery-ui.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.css' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/fonts/flaticon/font/flaticon.css' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/css/aos.css' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />