<div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-6 text-center">
          <h2 class="site-heading text-black mb-5">Our <strong>Services</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="site-block-feature-2 d-flex rounded mb-5">
            <div class="mr-3">
              <span class="icon flaticon-tooth-whitening font-weight-light "></span>
            </div>
            <div class="text">
              <h3>Tooth Fillings</h3>
              <p>Our tooth fillings restore and strengthen damaged teeth, ensuring a healthy and pain-free smile.</p>
              <p><a href="tooth_fillings.html">Explore Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="site-block-feature-2 d-flex rounded mb-5">
            <div class="mr-3">
              <span class="icon flaticon-stethoscope font-weight-light "></span>
            </div>
            <div class="text">
              <h3>Dental Implants</h3>
              <p>Restore your smile with expert dental implants – precise placement and natural results.</p>
              <p><a href="dental_implants.html">Explore Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="site-block-feature-2 d-flex rounded mb-5">
            <div class="mr-3">
              <span class="icon flaticon-dentist-chair font-weight-light "></span>
            </div>
            <div class="text">
              <h3>Orthodontic Treatment</h3>
              <p>Straighten your teeth and improve your smile with our orthodontic treatments.</p>
              <p><a href="orthodontic_treatment.html">Explore Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="site-block-feature-2 d-flex rounded mb-5">
            <div class="mr-3">
              <span class="icon flaticon-tooth-pliers font-weight-light "></span>
            </div>
            <div class="text">
              <h3>Tooth Extraction</h3>
              <p>Expert removal of problematic teeth, ensuring your continued oral health and comfort.</p>
              <p><a href="tooth_extraction.html">Explore Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="site-block-feature-2 d-flex rounded mb-5">
            <div class="mr-3">
              <span class="icon flaticon-first-aid-kit font-weight-light "></span>
            </div>
            <div class="text">
              <h3>Oral Surgeries</h3>
              <p>Expert procedures to address complex dental issues and restore your oral health.</p>
              <p><a href="oral_surgeries.html">Explore Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="site-block-feature-2 d-flex rounded mb-5">
            <div class="mr-3">
              <span class="icon flaticon-dentist-tools font-weight-light "></span>
            </div>
            <div class="text">
              <h3>Cosmetic Dentistry</h3>
              <p>Transforming smiles with artistry and precision, enhancing your confidence.</p>
              <p><a href="cosmetic_dentistry.html">Explore Now</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>