<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mb-5 mb-lg-0">
                <style>
                    .embossed-form {
                        background-color: #fff;
                        padding: 20px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }

                    .embossed-form label {
                        font-weight: bold;
                    }
                </style>
                <h2 class="site-heading text-black mb-5"><strong>Appointment</strong></h2>
                <form method="post" action="#" class="p-5 bg-white mb-5 mb-lg-0 embossed-form">
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fname">First Name*</label>
                            <input type="text" id="fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="lname">Last Name*</label>
                            <input type="text" id="lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="gender">Gender*</label>
                            <input type="text" id="gender" class="form-control" placeholder="Gender">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="age">Age*</label>
                            <input type="text" id="age" class="form-control" placeholder="Age">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="date">Date*</label>
                            <input type="text" id="date" class="form-control datepicker px-2"
                                placeholder="Date of visit">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="time">Time Slot*</label>
                            <select id="time" name="time" class="form-control" required>
                                <option value="" disabled selected>Select a time slot</option>
                                <option value="10:30 AM">10:30 AM</option>
                                <option value="11:15 AM">11:15 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="12:45 PM">12:45 PM</option>
                                <option value="01:30 PM">01:30 PM</option>
                                <option value="02:15 PM">02:15 PM</option>
                                <option value="03:00 PM">03:00 PM</option>
                                <option value="03:45 PM">03:45 PM</option>
                                <option value="04:30 PM">04:30 PM</option>
                                <option value="05:15 PM">05:15 PM</option>
                                <option value="06:00 PM">06:00 PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="contact">Contact Number*</label>
                            <input type="text" id="contact" class="form-control" placeholder="Contact Number">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="treatment">Treatment Needed</label>
                            <select name="treatment" id="treatment" class="form-control">
                                <option value="" disabled selected>Select a treatment</option>
                                <option value="">Apicectomy</option>
                                <option value="">Bone grafting</option>
                                <option value="">Ceramic venner/laminates</option>
                                <option value="">Cast partial denture</option>
                                <option value="">Consultation</option>
                                <option value="">Dental filling</option>
                                <option value="">Dental implants</option>
                                <option value="">Dental implants crown</option>
                                <option value="">Direct sinus lift surgery</option>
                                <option value="">E-max crown</option>
                                <option value="">Gum depigmentation</option>
                                <option value="">Gum recontouring/gum esthetic surgery</option>
                                <option value="">IOPA X-Ray</option>
                                <option value="">Inlay/onlay composite</option>
                                <option value="">Inlay/onlay metallic</option>
                                <option value="">Indirect sinus lift surgery</option>
                                <option value="">Metal Ceramic Crown</option>
                                <option value="">Metal Crown</option>
                                <option value="">Operculectomy</option>
                                <option value="">Orthodontic ceramic braces</option>
                                <option value="">Orthodontic metallic braces</option>
                                <option value="">Orthodontic self-ligating ceramic braces</option>
                                <option value="">Orthodontic treatment (aligners)</option>
                                <option value="">Orthodontic treatment (self-ligating metallic braces)</option>
                                <option value="">Pediatric Root canal Treatment with metal cap</option>
                                <option value="">Pediatric Root canal Treatment with zirconia cap</option>
                                <option value="">Pediatric dental filling</option>
                                <option value="">Pediatric extraction</option>
                                <option value="">Pediatric fluoride application (each arch)</option>
                                <option value="">Pediatric scaling & polishing</option>
                                <option value="">Pediatric space maintainer</option>
                                <option value="">Periodontal flap surgery</option>
                                <option value="">Pit & fissure sealant</option>
                                <option value="">Post & Core</option>
                                <option value="">Post Root canal treatment Filling (Composite)</option>
                                <option value="">Premium dental implant</option>
                                <option value="">Removable acrylic partial denture</option>
                                <option value="">RE-Root canal treatment</option>
                                <option value="">Root canal Treatment</option>
                                <option value="">Scaling & polishing</option>
                                <option value="">Simple extraction/tooth removal</option>
                                <option value="">Smile designing</option>
                                <option value="">Specialized complete denture</option>
                                <option value="">Std.complete denture</option>
                                <option value="">Surgical extraction/wisdom tooth removal</option>
                                <option value="">Teeth Whitening</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="note">Notes</label>
                            <textarea name="note" id="note" cols="30" rows="5" class="form-control"
                                placeholder="Write your notes or questions here..."></textarea>
                        </div>
                    </div>
                    <div style="display: none;">
                        {{ appointment_form.honeypot }}
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    $(document).ready(function () {
                        // Get references to the date and time slot select fields
                        var dateSelect = $('#id_date');
                        var timeSlotSelect = $('#id_time_slot');
                        // Add an event listener for date change
                        dateSelect.on('change', function () {
                            console.log("Date changed");
                            var selectedDate = dateSelect.val();
                            // Convert the selected date to the correct format (YYYY-MM-DD)
                            var parts = selectedDate.split("/");
                            var formattedDate = parts[2] + "-" + parts[0] + "-" + parts[1];
                            console.log("Formatted Date: " + formattedDate);
                            // Send an AJAX request with the formatted date
                            $.ajax({
                                url: '/get_available_time_slots/',
                                method: 'GET',
                                data: { selected_date: formattedDate }, // Use the formatted date
                                dataType: 'json',
                                success: function (data) {
                                    // Log the received data to verify
                                    console.log("Received Data:", data);

                                    // Update the time slot select field options
                                    timeSlotSelect.empty();
                                    $.each(data.available_time_slots, function (index, timeSlot) {
                                        timeSlotSelect.append($('<option>', {
                                            value: timeSlot,
                                            text: timeSlot
                                        }));
                                    });
                                },
                                error: function (xhr, status, error) {
                                    console.error("Error: " + error);
                                }
                            });
                        });
                    });
                </script>
            </div>
            <div class="col-md-12 col-lg-6">
                <h2 class="site-heading text-black mb-5">Say <strong>Hello</strong></h2>
                <form method="post" action="#" class="p-5 bg-white embossed-form">
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fname">First Name*</label>
                            <input type="text" id="fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="lname">Last Name*</label>
                            <input type="text" id="lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="gender">Gender*</label>
                            <input type="text" id="gender" class="form-control" placeholder="Gender">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="age">Age*</label>
                            <input type="text" id="age" class="form-control" placeholder="Age">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="contact">Contact Number*</label>
                            <input type="text" id="contact" class="form-control" placeholder="Contact Number">
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="message">Message*</label>
                            <textarea name="message" id="message" cols="30" rows="5" class="form-control"
                                placeholder="Say hello to us"></textarea>
                        </div>
                    </div>
                    <div style="display: none;">
                        {{ say_hello_form.honeypot }}
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>