<div class="site-blocks-cover" style="background-image: url(/assets/images/hero_bg_2.jpg);" data-aos="fade"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center">

      <!-- Left Column: Text -->
      <div class="col-12 col-md-7 mb-3 mb-md-0 py-5">
        <span class="sub-text">Services That Satisfy You</span>
        <h1><strong>Our</strong> Services</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <style>
      table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        border: 2px solid #333;
      }

      th,
      td {
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #333;
        color: #fff;
        font-size: 24px;
      }

      tr:nth-child(even) {
        background-color: #333;
        color: #fff;
      }

      tr:nth-child(odd) {
        background-color: #fff;
      }

      td {
        font-size: 22px;
      }

      .bold-text {
        font-weight: bold;
        text-transform: uppercase;
      }

      @media (max-width: 768px) {
        table {
          width: 100%;
        }

        th,
        td {
          font-size: 18px;
          padding: 5px;
        }

        th {
          font-size: 20px;
        }
      }

      @media (max-width: 992px) {
        /* Adjust styles for medium-sized screens here if needed */
      }

      @media (max-width: 1200px) {
        /* Adjust styles for larger screens here if needed */
      }
    </style>

    <!-- <table style="margin: 0 auto; border-collapse: collapse;"> -->
    <table>
      <thead>
        <tr>
          <th style="font-size: 24px;">Treatment</th>
          <th style="font-size: 24px;">Price Range(₹)</th>
        </tr>
      </thead>
      <tbody>
        <!-- List of treatments and prices in alphabetical order -->
        <tr>
          <td class="bold-text">Apicectomy</td>
          <td class="bold-text">3000</td>
        </tr>
        <tr>
          <td class="bold-text">Bone grafting (onwards as required)</td>
          <td class="bold-text">6000-8000</td>
        </tr>
        <tr>
          <td class="bold-text">Cast partial denture (per arch)</td>
          <td class="bold-text">18000-22000</td>
        </tr>
        <tr>
          <td class="bold-text">Ceramic veneer/laminates</td>
          <td class="bold-text">3000-4000</td>
        </tr>
        <tr>
          <td class="bold-text">Consultation charges</td>
          <td class="bold-text">200</td>
        </tr>
        <tr>
          <td class="bold-text">Dental filling</td>
          <td class="bold-text">1500-3500</td>
        </tr>
        <tr>
          <td class="bold-text">Dental implants crown</td>
          <td class="bold-text">4500-10500</td>
        </tr>
        <tr>
          <td class="bold-text">Direct sinus lift surgery</td>
          <td class="bold-text">15000-20000</td>
        </tr>
        <tr>
          <td class="bold-text">E-max crown</td>
          <td class="bold-text">8500-10500</td>
        </tr>
        <tr>
          <td class="bold-text">Gum depigmentation (per arch)</td>
          <td class="bold-text">5000-7000</td>
        </tr>
        <tr>
          <td class="bold-text">Gum recontouring/gum esthetic surgery (per tooth)</td>
          <td class="bold-text">500-1000</td>
        </tr>
        <tr>
          <td class="bold-text">IOPA X-RAY</td>
          <td class="bold-text">200</td>
        </tr>
        <tr>
          <td class="bold-text">Indirect sinus lift surgery (per tooth)</td>
          <td class="bold-text">4000-6500</td>
        </tr>
        <tr>
          <td class="bold-text">Inlay/onlay composite</td>
          <td class="bold-text">3500-4000</td>
        </tr>
        <tr>
          <td class="bold-text">Inlay/onlay metallic</td>
          <td class="bold-text">2000-2500</td>
        </tr>
        <tr>
          <td class="bold-text">Metal ceramic crown</td>
          <td class="bold-text">3000-5000</td>
        </tr>
        <tr>
          <td class="bold-text">Metal crown</td>
          <td class="bold-text">3500</td>
        </tr>
        <tr>
          <td class="bold-text">Operculectomy</td>
          <td class="bold-text">3000</td>
        </tr>
        <tr>
          <td class="bold-text">Orthodontic ceramic braces</td>
          <td class="bold-text">42000-48000</td>
        </tr>
        <tr>
          <td class="bold-text">Orthodontic metallic braces</td>
          <td class="bold-text">25000-28000</td>
        </tr>
        <tr>
          <td class="bold-text">Orthodontic self-ligating ceramic braces</td>
          <td class="bold-text">58000-68000</td>
        </tr>
        <tr>
          <td class="bold-text">Orthodontic treatment (aligners)</td>
          <td class="bold-text">100000-150000</td>
        </tr>
        <tr>
          <td class="bold-text">Orthodontic treatment (self-ligating metallic braces)</td>
          <td class="bold-text">32000-38000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric root canal treatment with metal cap</td>
          <td class="bold-text">5000-6000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric root canal treatment with zirconia cap</td>
          <td class="bold-text">8500-9000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric dental filling</td>
          <td class="bold-text">500-1000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric extraction</td>
          <td class="bold-text">500-1000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric fluoride application (each arch)</td>
          <td class="bold-text">1000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric scaling & polishing</td>
          <td class="bold-text">500-1000</td>
        </tr>
        <tr>
          <td class="bold-text">Pediatric space maintainer</td>
          <td class="bold-text">3000</td>
        </tr>
        <tr>
          <td class="bold-text">Periodontal flap surgery (per arch)</td>
          <td class="bold-text">10000-12000</td>
        </tr>
        <tr>
          <td class="bold-text">Pit & fissure sealant</td>
          <td class="bold-text">800-1000</td>
        </tr>
        <tr>
          <td class="bold-text">Post-orthodontic treatment (fixed retentive appliance per arch)</td>
          <td class="bold-text">4000-5000</td>
        </tr>
        <tr>
          <td class="bold-text">Post-orthodontic treatment (removable retentive appliance per arch)</td>
          <td class="bold-text">3000-4000</td>
        </tr>
        <tr>
          <td class="bold-text">Premium dental implant</td>
          <td class="bold-text">32000-35000</td>
        </tr>
        <tr>
          <td class="bold-text">RE-Root canal treatment</td>
          <td class="bold-text">4500-5500</td>
        </tr>
        <tr>
          <td class="bold-text">Removable acrylic partial denture (per arch)</td>
          <td class="bold-text">3500-8500</td>
        </tr>
        <tr>
          <td class="bold-text">Root canal treatment</td>
          <td class="bold-text">3500-4500</td>
        </tr>
        <tr>
          <td class="bold-text">Surgical extraction/wisdom tooth removal (per tooth)</td>
          <td class="bold-text">3500-5000</td>
        </tr>
        <tr>
          <td class="bold-text">Smile designing (per arch)</td>
          <td class="bold-text">15000-25000</td>
        </tr>
        <tr>
          <td class="bold-text">Specialized complete denture (for a pair of upper & lower denture)</td>
          <td class="bold-text">25000-32000</td>
        </tr>
        <tr>
          <td class="bold-text">Std. complete denture (for a pair of upper & lower denture)</td>
          <td class="bold-text">18000-25000</td>
        </tr>
        <tr>
          <td class="bold-text">Teeth whitening</td>
          <td class="bold-text">8500-10500</td>
        </tr>
        <tr>
          <td class="bold-text">Zirconia crown</td>
          <td class="bold-text">8500-10500</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>